<div class="d-flex flex-column">
    <MudTextField @bind-Value="@searchValue" Label="@Title" 
                  Variant="Variant.Outlined" Adornment="Adornment.End" 
                  AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Primary" 
                  OnDebounceIntervalElapsed="@((txt) => OnInput(txt))" DebounceInterval="100"/>
    <MudList>
        @{
            foreach (var person in Finds)
            {
                <MudListItem Text="@($"{person.Name}  {person.MatchedPlace.Name}")" Icon="@Icons.Material.Filled.Person" Style="@($"background-color:{person.MatchedPlace.Color};")" OnClick="@(() => ClickedList(person.Name!))"/>
            }
        }
    </MudList>
</div>


@code {

    [Parameter]
    public string? searchValue { get; set; }

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public EventCallback<string> searchValueChanged { get; set; }

    [Parameter]
    public List<People>? Peoples { get; set; }

    [Parameter]
    public EventCallback<string> ListCliecked { get; set; }

    private List<People> Finds = new List<People>();

    private async Task ValueChanged(string Value)
    {
        searchValue = Value;
        await searchValueChanged.InvokeAsync(searchValue);
    }

    private async Task ClickedList(string Value)
    {
        await ValueChanged(Value);
        await ListCliecked.InvokeAsync(searchValue);
    }

    private async Task OnInput(string Value)
    {
        await ValueChanged(Value);
        if (!string.IsNullOrEmpty(searchValue)) Finds = Peoples?.Where(i => i.Name!.ToLower().Contains(searchValue.ToLower())).ToList()!;
    }

}
